button {
  cursor: pointer;
  svg, img {
    max-width: 35px;
    max-height: 35px;
  }
  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
  }
}

small {
  display: flex;
  align-items: center;
  font-weight: bold;
  img {
    max-width: 15px;
    max-height: 15px;
    margin-right: 5px;
  }
}
