<div class="list-group-item mb-3"
     [ngClass]="{'list-group-item-danger': car.isSold}">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{car.name}}</h5>
    <small>
      <img src="https://image.flaticon.com/icons/svg/148/148976.svg" width="224" height="224" alt="Calendar free icon" title="Calendar free icon">
      {{car.date}}
    </small>
  </div>
  <p class="mb-1" [ngStyle]="{borderBottom: '4px solid ' + car.color, height: '4px'}"></p>
  <br>
  <button
    type="button"
    class="btn"
    [disabled]="car.isSold"
    (click)="onBuy()"
  >
    <img src="https://image.flaticon.com/icons/svg/1220/1220923.svg" alt="Buy" class="replaced-svg">
  </button>
  <button
    type="button"
    class="btn"
    (click)="onDelete()"
  >
    <img src="https://www.flaticon.com/premium-icon/icons/svg/1989/1989271.svg" width="224" height="224" alt="Shopping cart premium icon" title="Shopping cart premium icon">
  </button>
</div>
