<form>
  <div class="form-group">
    <label for="car-name">name</label>
    <input type="text"
           class="form-control"
           id="car-name"
           name="name"
           [(ngModel)]="carStoreName"
           placeholder="Car name"
    >
  </div>
  <div class="form-group">
    <label for="car-color">color</label>
    <input type="text"
           class="form-control"
           id="car-color"
           name="color"
           [(ngModel)]="carStoreColor"
           placeholder="Car color"
    >
  </div>

  <button type="button"
          class="btn btn-primary mr-3"
          (click)="onAdd()"
  >Add car
  </button>
  <button type="button"
          class="btn btn-warning"
          (click)="onLoad()"
  >Load cars
  </button>
  <hr>
</form>
